---
import Button from "./ui/Button.astro";
import { siteConfig } from "../config/site";
---

<div class="flex flex-col gap-8 items-center justify-center ">
  <!-- Logo (aparece por último mas fica em cima) -->
  <div class="animate-logo">
    <img 
      src="./xyztavo.svg" 
      class="w-32 md:w-40" 
      alt="logo"
    >
  </div>
    <div class="flex flex-col items-center justify-center gap-1">
  <!-- Hi, I am (aparece primeiro) -->
  <p 
    class="
      animate-greeting
      text-lg md:text-xl 
      text-zinc-400 
      text-center 
    "
  >
    {siteConfig.personal.greeting}
  </p>

  <!-- Nome (aparece depois do "Hi, I am") -->
  <h1 
    class="
      animate-name
      text-6xl md:text-8xl lg:text-9xl 
      font-bold 
      tracking-tight
      text-center
      text-white
    "
  >
    {siteConfig.personal.name}
  </h1>
    </div>
  <!-- Subtítulo (aparece depois do nome) -->
  <p 
    class="
      animate-subtitle
      text-base md:text-lg 
      text-zinc-400 
      text-center 
     max-w-2xl
    "
    >
    {siteConfig.pages.home.subtitle}
  </p>

  <!-- Botão (aparece depois do subtítulo) -->
  <div class="animate-button">
    <Button href={siteConfig.pages.home.ctaLink}>
      {siteConfig.pages.home.ctaText}
    </Button>
  </div>
</div>
